# macOS
.DS_Store

# Node
node_modules/

# Environment
.env
.env.*

# Logs
*.log

# Build
.next/
dist/
build/
coverage/
.expo/

# Drizzle
**/migrations/meta/*.json
!**/migrations/meta/_journal.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db